/*Home*/
.home{
  margin-top: 48.4px;
  display: flex;
}

.home img{
  width: 60%;
}

.content-home{
  margin: auto 0;
  padding-left: 40px;
}

.content-text-home h3{
  font-size: 5rem;
  color:var(--main-color-1);
  font-family: 'Merienda One', cursive;
}

.content-text-home p{
  padding-top:2rem;
  line-height: 1.2;
  font-size: 1.8rem;
  color:var(--main-color-1);
}

.connect-learn_more{
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1.9rem;
  padding: 1rem 2rem;
  align-items: center;
  border-radius: 40px;
  color:var(--white-1);
  display: inline-block;
  background-color: var(--main-color-1);
}

.connect-learn_more:hover{
  font-weight: 600;
  box-shadow: 0 5px 10px rgb(55,21,16);
  background-color: var(--main-color);
}